/* Jeremy Allemand, matricule: 20312390, IFT-1144-A-A24, TP3 */

* {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: auto;
    background-color: lightblue;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0 auto;
    padding: 1rem;
}

/* MAIN */
main {
    max-width: 90%;
    background-color: mediumaquamarine;
    margin: 0 auto;
    border-radius: 2rem;
}

main h1 {
    font-size: 2.5rem;
    margin: 0 auto;
}

main h2 {
    font-size: 2rem;
    margin: 0 auto;
}

fieldset {
    line-height: 2;
    margin: 0;
    padding: 1rem;
    max-width: 90%;
    border: 0.1rem solid lightblue;
    border-radius: 1rem;
}

hr {
    margin: 2.25rem auto;
    border: 0.1rem solid lightblue;
    max-width: 90%;
    border-radius: 1rem;
}

label, input, textarea {
    margin-right: 2rem;
}

input {
    border-radius: 0.25rem;
    padding: 0.15rem;
    border-color: white;
}

button {
    border-radius: 1rem;
    border-color: white;
    margin: 1rem 0.5rem 1rem 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #333;
    width: 100%;
    text-align: center;
}

button:nth-child(even) {
    background-color: #6fbcec;
}

button:nth-child(odd) {
    background-color: #4aabe8;
}

/* PART 1 */
.partie1 h2 {
    margin: 0;
    margin-left: 3rem;
    text-decoration: underline;
    text-align: left;
}

.form1 {
    margin: 1rem auto;
    text-align: left;
    box-sizing: border-box;
}

.form1 legend {
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .boutton {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem; 
    }
}

#resultat {
    color: green;
    font-weight: bold;
}

/* PART 2 */
.partie2 > h2 {
    margin: 0;
    margin-left: 3rem;
    text-decoration: underline;
    text-align: left;
}

.form2 {
    margin: 1rem auto;
    text-align: left;
    box-sizing: border-box;
}

.form2 legend {
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1rem;
}

@media (min-width: 768px) {
.partie2 p {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;    
    height:auto;
    width: 100%;
    margin-top: 0;
}
}

.partie2 textarea {
    border-radius: 0.25rem;
    border-color: white;
    margin: 1rem 0.5rem 0 0;
    padding: 0.15rem;
}

@media (min-width: 768px) {
.partie2 button {
    border-radius: 1rem;
    border-color: white;
    color: #333;
    margin: 2rem 0.5rem 1rem 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    max-width: 25%;
    text-align: center;
}
}

#reponse {
    margin-bottom: 0.5rem;
    text-align: center;
}

#reponse h1, 
#reponse h2, 
#reponse h3, 
#reponse h4, 
#reponse h5, 
#reponse h6 {
    color: green;
    margin: 0;
    padding: 0;
}

#reponse h1 {
    font-size: 4rem;
}

#reponse h2 {
    font-size: 3.5rem;
}

#reponse h3 {
    font-size: 3rem;
}

#reponse h4 {
    font-size: 2.5rem;
}

#reponse h5 {
    font-size: 2rem;    
}

#reponse h6 {
    font-size: 1.5rem;    
}

#erreur {
    font-size: 2rem;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

#resultat2 {
    color: green;
    font-weight: bold;
}

/* PART 3 */
.partie3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;   
}

.form3 {
    display: flex;
    flex-direction: row;
    height:auto;
    width: 100%;
    margin-top: 0;
    margin: 1rem auto;
    box-sizing: border-box;
}

nav {
    width: 25%;
    background-color:#4dffa6;
    font-weight: bold;
    text-align: left;
    border-radius: 0.5rem;
    padding: 1rem;
}

ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

.menu-item {
    cursor: pointer;
    text-decoration: underline;
}

.menu-item:hover {
    background-color:#00994f;
}

.submenu {
    display: none;
    cursor: pointer;
}

.submenu li:hover {
    background-color: #ccffe6;
}

aside {
    width: 70%;
}

aside h3 {
    font-size: 1.75rem;
    padding: 0;
    margin: 0;    
}

table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 0.75rem;
    margin: 1rem;
}

td {
    text-align: center;
    vertical-align: middle;
}

td img {
    width: 100%;
    height: auto;
}

tfoot {
    text-align:center;
}

.facture {
    width: 100%;
    margin-top: 1rem;
}

.facture p {
    text-align:center;
}

/* For Screen < 768px */
@media (max-width: 768px) {
    * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    input, textarea {
        width: 90%;
        margin: 0 auto;
    }

    .form3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 0;
        text-align: center;
    }

    nav {
        width: 90%; 
        padding: 1rem;
        margin: auto 0;
    }

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul li {
        list-style-type: none;
        padding: 0.5rem;
        width: 100%;
    }

    table {
        width: 90%;
        margin: 1rem auto;
        table-layout: auto;
    }

    .menu-item, .submenu li {
        text-align: center;  
        padding: 0.75rem 0;
    }
}
